<header>
    {{> buttonIconText id='goback' title='Back' icon_class='fa-regular fa-chevron-left'}}
    {{> buttonIconText id='settings' title='Settings' icon_class='fa-sharp fa-solid fa-gear'}}
  
    {{!-- <div class="button-icon-text" id="go-backwards">
      <i class="fa-regular fa-chevron-left"></i><span>Back</span>
    </div>
    <div class="button-icon-text" id="settings">
      <i class="fa-sharp fa-solid fa-gear"></i><span>Settings</span>
    </div> --}}
</header>