---
alternates:
  - language: es
    uri: /es
  - language: fr
    uri: /fr
bodyclass: index
language: en
meta:
  author: Author Name
  description: Some meta description
  keywords: Some, Meta, Keywords
  robots: index, follow
scripts:
  - ../index.js
stylesheets:
  - ../scss/style.scss
title: Index | Parcel Bundler With Handlebars
uri: /edit-profile.html

user:
  name: Alice Cooper

---

{{#extend "base"}}
    {{#content "header"}}
        {{> header}}
    {{/content}}
    {{#content "main"}}
        <div class="container container_middle-bottom">
            {{!-- here is edit profile lis and edit profile form --}}
        </div>
    {{/content}}
{{/extend}}