---
alternates:
  - language: es
    uri: /es
  - language: fr
    uri: /fr
bodyclass: index
language: en
meta:
  author: Author Name
  description: Some meta description
  keywords: Some, Meta, Keywords
  robots: index, follow
scripts:
  - ../index.js
stylesheets:
  - ../scss/style.scss
title: Index | Parcel Bundler With Handlebars
uri: /signup


decore-image:
  class-name: white-box_left__image-decore
  image-url: /static/images/decore-img-2.min.png
table-data:
  h1-title: Registration
  id: signup-form
  method: POST
  extra-classes:
  columns:
    - inputs:
      - type: text
        name: first_name
        placeholder: first name
      - type: text
        name: second_name
        placeholder: second name
      - type: text
        name: login
        placeholder: login
      - type: text
        name: email
        placeholder: email
    - inputs:
      - type: text
        name: phone
        placeholder: phone
      - type: text
        name: password
        placeholder: password
      - type: text
        name: repeat_password
        placeholder: repeat password   
  submit-text: Sign Up
  extra-links:
    - href: ./
      id: 
      extra-classes:
      text: Enter
  extra-texts:
    - extra-classes: simple-sign_warinig
      text: Login or password is wrong

---

{{#extend "base"}}
  {{#content "main"}}
    <div class="container container_right-hand">
      <div class="white-box white-box_right">
        {{> components/composite/simple-form}}
        {{> components/simple/decore-image}} 
      </div>
    </div>
  {{/content}}
{{/extend}}
