<div class="container container_middle-bottom container_chats-area">
  {{> header}}
  <div class="chats-area">
    <div class="chats-area__chat-list-area">
      <!-- This two area is for effect of mooveing-->
      <div class="chat-list-area__background-ovals chat-list-area__background-ovals_top"></div>
      <div class="chat-list-area__background-ovals chat-list-area__background-ovals_bottom"></div>
      <!-- end -->
      {{!-- <div class="serach-area">
        {{> textInput type='text' name='seacrh-input' placeholder='Поиск'}}
      </div> --}}
    </div>
    <div class="chats-area__chat-messegin-area">
          <div class="messege-area-zaglishka">
            <div>
            <i class="fa-regular fa-spa"></i>
          </div>
          <div>
            <span>Select a chat to send a message</span>
            </div>
          </div>
    </div>
  </div>
  {{> footer}}
</div>