@font-face{
    font-family: "Montserrat";
    src: url('/static/fonts/Montserrat/static/Montserrat-Bold.ttf');
    src: url('/static/fonts/Montserrat/static/Montserrat-Light.ttf');
    src: url('/static/fonts/Montserrat/static/Montserrat-Medium.ttf');
    src: url('/static/fonts/Montserrat/static/Montserrat-Regular.ttf');
}

$font-family : 'Montserrat', sans-serif;

