@use './fonts/fonts';
@use './variables';
@use './mixins';
@use './normalize';

@import './fontawesome/scss/fontawesome.scss';
@import './fontawesome/scss/solid.scss';

html,
body {
    background-color: variables.$base-background;
    font-family: fonts.$font-family;
    box-sizing: content-box;
    @include mixins.all-screen-area;
    height: 100%;

    *,
    *::before,
    *::after {
        @include mixins.all-screen-area;
    }

    #root {
        height: 100%;
        width: 100%;

        .container {
            @include mixins.all-screen-area;
            min-height: 100%;
            display: flex;
            align-content: space-between;

            .image-decore {
                @include mixins.decore-image;
            }

            .white-box {
                @include mixins.white-area;
                position: relative;
                max-width: 80vw;

            }


            .white-box_left {
                border-radius: 0 50px 50px 0;

                .image-decore {
                    top: 35%;
                    right: -5%;
                }
            }

            .white-box_right {
                border-radius: 50px 0 0 50px;

                .image-decore {
                    top: 35%;
                    left: -5%;
                }
            }

        }

        .container_left-hand {
            justify-content: flex-start;
            align-items: center;
        }

        .container_right-hand {
            justify-content: flex-end;
            align-items: center;
        }

        .container_middle {
            justify-content: center;
            align-items: center;
        }

        .container_middle-bottom {
            justify-content: center;
            align-items: flex-end;
            align-content: space-between;
            flex-wrap: wrap;

            .white-box{
                border-radius: 40px 40px 0 0;
                width: 70vw;
                height: 70vh;
            }
        }




        h1 {
            @include mixins.title;
        }

    }




}